# SERVER CONFIG
HOST=127.0.0.1
PORT=8300
REDIS_URL=redis://127.0.0.1:6379/0

# UBSI ACCOUNTS
# studentv2.bsi.ac.id
STUDENTV2_NIM=
STUDENTV2_PASS=

# elearning.bsi.ac.id
ELEARNING_NIM=
ELEARNING_PASS=
